
.nav1{
    font-size: 12px;
}
.nav2{
    font-size: 13px;
}
.nav3{
    font-size: 14px;
}
.icon{
    font-size: 16px;
}
.label{
    font-size: 15px;
}
.login-sign-up-card{
    width: 374px;
    padding: 24px;
}
.tabs{
    background-color: #f2f2f2;
}
.tab{
    width: 374px;
}
.sign-up-page-text{
    font-size: 12px;
    line-height: normal;
    margin-left: 10px;
}
.bi-google{
    color: #ffffff;
}
.bi-facebook{
    color: #ffffff;
}
.facebook-icon{
    background-color: #4b6ea8;;
    border-radius: 4px;
    width: 30px;
    height: 30px;
}
.google-icon{
    background-color: #f04236;
    border-radius: 4px;
    width: 30px;
    height: 30px;
}
.login-page-sign-up{
    font-size: 12px;
    line-height: 14px;
}
.sign-button{
    width: 148px;
    margin-right: 15px;
}
.sign-button1{
    width: 148px;
}

.gender-button-selected{
    background-color: #f2f2f2;
    border-color: #f27a21;
    color: #f27a21;
    border-radius: 0;
    --bs-btn-active-bg: #f2f2f2;
    --bs-btn-active-border-color: #e6e6e6;
    --bs-btn-active-color:#666666;
}
.gender-button-selected:hover{
    background-color: #f2f2f2;
    border-color: #f27a21;
    color: #f27a21;
}
.gender-button{
    background-color: #f2f2f2;
    border-color: #e6e6e6;
    color: #666666;
    border-radius: 0;
    --bs-btn-active-bg: #f2f2f2;
    --bs-btn-active-border-color: #e6e6e6;
    --bs-btn-active-color:#666666;
}
.gender-button:hover{
    background-color: #f2f2f2;
    border-color: #e6e6e6;
    color: #666666;
}

