.user-info-new-add-address-container {
    border: 1px solid #e2e2e2;
    height: 66px;
    padding: 0 20px;
    border-radius: 3px;
}

.user-info-new-add-address-button i {
    color: #f27a21;
    font-size: 20px;
    margin-right: 7px;
    vertical-align: middle;
}

.user-info-new-add-address-button {
    text-decoration: none;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}

.user-info-new-add-address-button:hover {
    text-decoration: underline;
}

.user-info-addresses-container {
    border: 1px solid #e2e2e2;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
    border-radius: 6px;
    min-height: 460px;
}

.user-address-info-card {
    height: 232px;
    border-radius: 3px;
    border: 1px solid #e2e2e2;;
    margin-top: 15px;
    margin-bottom: 5px;
}
.user-address-info-modal-header{
    padding: 14px 20px;
}
.user-address-info-modal-form-group{
    margin-bottom: 22px;
}
.user-address-info-modal-form-button{
    margin-bottom: 22px;
    border-radius: 6px;
    font-size: 14px;
    padding: 12px;
}
.user-address-info-modal-form-save-button{
    border-radius: 6px;
    height: 48px;
    font-size: 18px;
}
