.search-button{
    width:600px;
}
.nav1{
    font-size: 12px;
}
.nav2{
    font-size: 13px;
}
.nav3{
    font-size: 14px;
}
.icon{
    font-size: 16px;
}
.label{
    font-size: 13px;
}
.forget-password{
    font-size: 5px;
}
.card{
    width: 370px;
}
.tabs{
    background-color: #f2f2f2;
}
.tab{
    width: 370px;
}
