.search-button{
    width:600px;
}
.nav1{
    font-size: 12px;
}
.nav2{
    font-size: 13px;
}
.nav3{
    font-size: 14px;
}
.nav-icon{
    font-size: 16px;
}
.login-sign-up-card{
    width: 370px;
}
.tab{
    width: 370px;
}
.navbar-xpage{
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
}
.x-page-footer{
    background-color: black;
}
.social-media{
    padding-right: 0;
}
.social-media1{
    padding-right: 0;
    padding-left: 8px;
}
.footer-x{
    background-color: #2d2d2d;
    color: white;
    padding-bottom: 7px;
    padding-top: 7px;
}
.container-white{
    height: 30px;
}
.dropdown-toggle::after {
    content: initial
}
.account-icons{
    color: #999999;
    font-size: 14px;
}
.account-dropdown-item{
    font-size: 14px;
}
